h1{
    background-color: navy;
    font-size: larger;
    text-align: center;
    color:white;
    height:80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#search{
    padding-left: 20px;
}

#current-weather{

}