h1{
    background-color: navy;
    font-size: larger;
    text-align: center;
    color:white;
    height:80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

#search{
    text-align: center;
    display:inline-block
}

#current-weather{
    text-align: center;

}

.image-styling{
    height:200px;
    width:200px;
    text-align: center;
}